.navbar-inverse,
#footer{
	background: #607D8B;
}


/*
.dark-primary-color    { background: #455A64; }
.default-primary-color { background: #607D8B; }
.light-primary-color   { background: #CFD8DC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #448AFF; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }
*/
a{
	color: #455A64
}
a:hover,
a:focus,
a:active{
	color: #607D8B;
}
.panel-default .panel-heading,
.archive-group .media-heading,
.list-group-item-img a:hover,
.list-group-item-img a:active{
	color: #607D8B;
}
.archive-group a:hover .media-heading,
.archive-group a:active .media-heading{
	color: #448AFF;
}

.widget-area .list-group-type-tx a{
	color: #727272;
}
